<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} -[%p] [%C] %m%n" />
		</layout>
	</appender>
	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="../logs/db_proxy.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} -[%p] [%C] %m%n" />
		</layout>
	</appender>
	<appender name="preload" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="../logs/data_sync.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} -[%p] [%C] %m%n" />
		</layout>
	</appender>
	<appender name="datacheck" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="../logs/data_check.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} -[%p] [%C] %m%n" />
		</layout>
	</appender>
	<logger name="com.leadtone.dbproxy.datasync" additivity="false">
			<level value="info" />
			<appender-ref ref="console" />
			<appender-ref ref="preload" />
	</logger>
	<logger name="com.leadtone.dbproxy.datacheck" additivity="false">
			<level value="info" />
			<appender-ref ref="console" />
			<appender-ref ref="datacheck" />
	</logger>
	
	<!-- <logger name="com.leadtone" additivity="false">
			<level value="info" />
			<appender-ref ref="file" />
	</logger>
	 -->
	<root >
		<level value="info" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>
	
</log4j:configuration>